* {
    font-family: Arial, Helvetica, sans-serif;
}

.red{
    color: red;
}

h1 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
}

h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

span {
    font-size: 14px;
}

main {
    height: 100vh;
    background: rgba(184, 255, 255, 0.16);
}

main#index .banner {
    width: 80%;
    height: 25%;
    margin: 0 auto;
    padding: 10% 0;
}

main#index .banner .banner__image {
    width: 100%;
    height: 100%;
}

main#index form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
    row-gap: 10px;
}

main#index form input {
    width: 70%;
    height: 30px;
    margin: 0 auto 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
    text-align: center;
}

main#index form input[type=submit] {
    width: 35%;
    background-color: #1B3D01;
    color: white;
    transition: .5s;
}

main#index form input[type=submit]:hover {
    cursor: pointer;
    background-color: green;
    color: black;
}



main#products .header {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 17.6%;
    border-bottom: 1px solid;
}

main#products .header section {
    height: 60%;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
}

main#products .header section .header__logo {
    width: 30%;
}

main#products .header section .users {
    display: flex;
    column-gap: 10px;
}

main#products .header section .users .users__avatar {
    width: 40px;
    height: 36px;

}

main#products .header section .users .users__infos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: end;
}

main#products .header input {
    width: 70%;
    height: 25px;
    margin: 15px auto;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}

main#products>.base {
    height: 66%;
    margin: 1.5em;
    overflow-y: scroll;
}

main#products>.base::-webkit-scrollbar {
    display: none;
}

main#products .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;

}

main#products .products .products__product {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    border: 0.5px solid #000000;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: relative;
}
main#products .products .products__product .product__rating{
    position: absolute;
    top: 0;
    width: 30px;
}
main#products .products .products__product .product__food {
    width: 100%;
    height: 70%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

main#products .products .products__product .product__buy {
    display: flex;
    justify-content: space-between;
}
main#products .products .products__product .product__buy span{
    align-self: center;
}
main#products .products .products__product .product__buy,
main#products .products .products__product span:nth-child(2) {
    padding: 0 10px;
}

main#products .products .products__product .product__buy button {
    color: white;
    background-color: #FF6363;
    border-radius: 5px;
    border: 0.5px solid #000000;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
}

main#products footer {
    height: 10%;
    background-color: white;
    display: flex;
    border-top: 1px solid;
}

main#products footer nav {
    width: 90%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

main#products footer nav div {
    width: 25%;

}

main#products footer nav div a {
    display: flex;
    flex-direction: column;
    color: black;
    text-decoration: none;
}

main#products footer nav div a img {
    width: 50%;
    margin: 0 auto;
}
body main > section {
    height: 72%;
    overflow-y: scroll;
}
body main > section #contact {
    margin: 1em;
}

.contact > ul > li{
    background-color: whitesmoke;
    margin-bottom: 30px;
    padding: 10px 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#products.noSearch .header{
    height: 10%;

}
#products.noSearch .header section {
    height: 100%;
}
#products.noSearch >section {
    height: 73.6%;
}
#marginTop{
    margin-top: 3em;
}